.about {
    justify-content: center;
    align-items: center;

    margin-top: 22rem;
    padding-bottom: 25rem;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    align-items: left;
    width: 85vw;
    gap: 2rem;
}

.title, .subtitle {
    font-family: 'Manrope', sans-serif;
}

.title {
    font-size: 4.5rem;
}

.subtitle {
    font-size: 4rem;
}

.text {
    font-size: 1.6rem;
    font-weight: 300;
}

.textHighlight {
    color: var(--color-highlight);
}

.textHighlight2 {
    color: var(--color-highlight);
}

@media screen and (min-width: 1024px) {
    .about {
        margin: 0;
        padding: 0;
    }
    
    .container {
        width: 800px;
    }

    .title {
        font-size: 7rem;
    }
}