.home {
    justify-content: space-evenly;
    align-items: center;
}

.name {
    font-family: 'Manrope', sans-serif;
    font-weight: 800; 
    font-size: 4.5rem;
}

.title {
    font-size: 3rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

.socialsContainer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

.line {
    flex-grow: 1;
    height: 2px;
    background-color: var(--color-line);
}

@media screen and (min-width: 1024px) {
    .name {
        font-size: 10rem;
    }
    
    .title {
        font-size: 5rem;
    }
}

@media screen and (max-width: 360px) {
    .name {
        font-size: 3.7rem;
    }

    .title {
        font-size: 2.3rem;
    }
}

@media screen and (max-height: 350px) {
    .titleContainer {
        padding-top: -8vh;
    }
}