.contactForm {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
}

label {
    margin-top: 1rem;
    font-size: 1.6rem;
}

.formInput, .textArea {
    padding: 1rem;
    border-radius: 3px;
    background: var(--color-background);
    border: 1px solid var(--color-border);
    color: var(--color-secondary);
}

.textArea {
    resize: none;
    height: 20vh;
    padding: 0.5rem;
    overflow-y: scroll;
}

.submitButton {
    font-family: inherit;
    font-weight: 500;
    font-size: 1.6rem;
    width: fit-content;
    padding: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    background: var(--color-button-accept);
    border-radius: 3px;
    transition: background 0.1s ease-in;
}

.submitButton:hover {
    background: var(--color-button-accept-hover);
    transition: background 0.1s ease-in;
}

@media screen and (min-width: 1024px) {
    input {
        width: 400px;
    }

    .textArea {
        width: 400px;
    }
}