.cardsContainer {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;

    padding-bottom: 25%;
}

@media screen and (min-width: 1024px) {
    .cardsContainer {
        padding-bottom: 0;
    }
}