* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.darkMode {
  --color-primary: #000519;
  --color-secondary: #f3f3f7;
  --color-highlighted: #859dff;
}

.lightMode {
  --color-primary: #f3f3f7;
  --color-secondary: #000519;
  --color-highlighted: #859dff;
}

.container {
  --color-background: var(--color-primary);
  --color-text: var(--color-secondary);
  --color-header-background: var(--color-secondary);
  --color-navbutton-active: var(--color-highlighted);
  --color-icon: var(--color-primary);
}

html {
  font-size: 62.5%;
}

html, body, #root {
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  background: var(--color-background);
  color: var(--color-text);
}

section {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
}

button {
    cursor: pointer;
    background: none;
    border: none;
}

.color-icon-primary {
  fill: var(--color-primary);
}

@media screen and (min-width: 1024px) {
  .container {
    align-items: center;
  }
  
  section {
    width: 1020px;
  }
}